.container-box{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}


.container{
  width: 300px;
  height: 400px;
  
  
}

.btn-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  margin-top: 75px;
  text-decoration: none;
  width: 100px;
  height: 35px;
  border-radius: 10px;
}




.header-div h1{
  text-align: center;
}

.details-div{
  margin-top: 30px;
  text-align: center;
}